GOOSE_DRIVER=postgres # БД драйвер
GOOSE_DBSTRING=postgres://user:password@localhost:5432/subscription_service # строка для доступа к БД
GOOSE_MIGRATION_DIR=./migrations # директория с миграциями
CONFIG_PATH=./configs/local.yaml # путь до файла с конфигурацией приложения
DB_PASS=password # пароль от БД